@define-color background #1e1e2e;
@define-color foreground #cdd6f4;
@define-color focused_background #89b4fa;
@define-color focused_foreground #1e1e2e;
@define-color urgent_background #f38ba8;
@define-color urgent_foreground #1e1e2e;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @foreground;
}

#workspaces button,
#clock,
#cpu,
#memory,
#custom-gpu,
#custom-separator,
#custom-caffeine,
#network,
#custom-power {
  padding: 0 10px;
  margin: 4px 0;
}

#workspaces button {
  color: @foreground;
  background: transparent;
}

#workspaces button.focused {
  background: @focused_background;
  color: @focused_foreground;
}

#workspaces button.urgent {
  background: @urgent_background;
  color: @urgent_foreground;
}

#clock {
  font-weight: 600;
}

#custom-separator {
  padding: 0 4px;
  margin: 4px 2px 4px 4px;
  color: @focused_background;
}

#custom-caffeine,
#network,
#custom-power {
  margin-left: 6px;
}
